<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">{{title}}</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">{{title}}</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <chart [options]="Sample" style="width: 100px;height: 100px;" [title]="'折线图（平滑MarkLine）'"></chart>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <chart [options]="Sample_Smooth" style="width: 100px;height: 100px;" [title]="'折线图(MarkPointMarkArea)'"></chart>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <chart [options]="GradientSample" style="width: 100px;height: 100px;" [title]="'折线图(Step和渐变色)'"></chart>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <chart [options]="GradientSample_H" style="width: 100px;height: 100px;" [title]="'折线图(渐变色)'"></chart>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <chart [options]="GradientSample_Background" style="width: 100px;height: 100px;" [title]="'折线图(背景渐变色)'"></chart>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <chart [options]="Bar_Line_Mix" style="width: 100px;height: 100px;" [title]="'柱状折线图'"></chart>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>