<div class="content-wrapper">
    <div style="background-image: url('assets/image/背景图.jpg');background-size:cover;">
        <div style="width: 400px;height: 400px;">
            <echarts [options]="Sample" style="width: 400px;height: 400px;"></echarts>
        </div>
    </div>
    <div style="background-image: url('assets/Templates/tpl04/img/wrapper-bg.png');
               background-size:cover;
               padding:50px 25px 25px 25px;
               background-color: #0b0f34;
               overflow: hidden;">
        <chart-dark [options]="Sample" style="width: 370px;height: 370px;">
        </chart-dark>
    </div>
</div>